<h1>Sent a Message</h1>

<%= form_with(model: @message, local: true) do |f| %>
    <div>
        <%= f.label :content %>
        <%= f.text_field :content %>
    </div>

    <%= f.submit "Send" %>
<% end %>
