body {
  background: linear-gradient(
    45deg,
    #ff000021,
    #ff7f0021,
    #ffff0021,
    #00ff0021,
    #0000ff21,
    #4b008221,
    #8b00ff21
  );
  background-size: 400% 400%;
  animation: rainbow 15s ease infinite;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
